<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Django Girls Blog</title>
</head>
<body>
	<div>
		<h1><a href="#">Django Girls Blog</a></h1>
	</div>

	<div>
		<p>published: 01.01.2017, 10:32</p>
		<h2><a href="#">My first post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, veritatis.</p>
	</div>

	<div>
		<p>published: 01.01.2017, 10:32</p>
		<h2><a href="#">My second post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, veritatis.</p>
	</div>
</body>
</html>